doctype
html
head
	meta(charset="utf-8")
	title
	link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
body
	#app
		include ./LinksContainer.jade
	

	script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
	script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js")
	script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.2/backbone.marionette.min.js")
	script(type="text/javascript",src="/js/dist/bundle.js")
